#/bin/bash
export NOTION_API_KEY={your token goes here, get it from an authenticated browser session cookie}
export NOTION_PAGE_ID='https://www.notion.so/{yourpage goes here}'
export LOCAL_TIMEZONE='US/Eastern' # or whatever your local timezone is